@font-face {
    font-family: "Trench";
    src: url(../../fonts/TrenchThin-aZ1J.ttf);
}

@font-face {
    font-family: "Speedy";
    src: url(../../fonts/SpeedyRegular-7BLoE.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Trench;
    font-size: 50px;
    color: white;
    margin-bottom: 1rem;
    animation-name: slideup;
    animation-duration: 2s;
}

p {
    border: 7px solid white;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    max-width: 500px;
    font-size: 150%;
    font-family: Speedy;
    color: #00FFFF;
    text-shadow: 2px 2px 3px #FF0000;
    animation-name: slideup;
    animation-duration: 3s;
}

@keyframes slideup{
    from{transform: translateY(1500%);}
}
